body.login-bg {
  background-color: #020024;
}

.login {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 20%,
    #516395 50%,
    rgba(2, 0, 36, 1) 80%
  );

  h2 {
    font-family: sans-serif;
    color: #4b6cb7;
    font-size: 30px;
  }
  .form {
    min-width: 550px;
    text-align: center;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #ffffff;

    input {
      width: 100%;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 8px;
      background: #f2f2f2;
      border: none;
    }
    .visibility {
      display: flex;
      background-color: white;
      border: none;
    }
    input:focus {
      background: #dbdbdb;
    }
    .login-button {
      padding: 10px;
      background: #4b6cb7;
      color: #ffffff;
      width: 50%;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
    }
    .disabled {
      opacity: 0.2;
    }

    .login-button:active {
      background: #395591;
    }
    small {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .link {
        color: #395591;
      }
    }
    .error {
      margin-left: 10px;
      margin-bottom: 10px;
      text-align: left;
      font-size: 12px;
      color: red;
    }
  }
}
